
.experience-card {
  background-color: #fff;
  padding: 10%;
  display:grid;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}

.experience-card:hover {
  transform: translateY(-5px);
}

.card-top {
  flex: 1;
  display: block;
  text-align: center;
}
.card-top p{
  font-size: 10pt;
}