.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-button:active {
  background-color: rgba(0, 0, 0, 0.9);
}

.carousel-button.next {
  right: 10px;
}
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-button.previous {
  left: 10px;
}
.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

