.experiences-section {
  background-color: #f9f9f9;
  padding: 8rem 0;
}

.experiences-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.experiences-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px; 
  text-align: center;
}
